USE [master]
GO
/****** Object:  Database [DetalleVtas]    Script Date: 12/03/2025 11:37:10 p. m. ******/
CREATE DATABASE [DetalleVtas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DetalleVtas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DetalleVtas.mdf' , SIZE = 466944KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DetalleVtas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DetalleVtas_log.ldf' , SIZE = 1253376KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DetalleVtas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DetalleVtas]
GO
/****** Object:  Table [dbo].[Calendario]    Script Date: 12/03/2025 11:37:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendario](
	[Year] [float] NULL,
	[MONTH NUM] [float] NULL,
	[MONTH NAME ENG] [nvarchar](255) NULL,
	[MONTH NAME ES] [nvarchar](255) NULL,
	[WEEK] [float] NULL,
	[START DATE] [datetime] NULL,
	[END DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/03/2025 11:37:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[ID_CLIENTE] [float] NULL,
	[ID_CONTRATO] [float] NULL,
	[ID_CONTRATO_BASE] [float] NULL,
	[ESTATUS] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVtas]    Script Date: 12/03/2025 11:37:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVtas](
	[Semana] [float] NULL,
	[Cliente] [float] NULL,
	[Id_Contrato] [float] NULL,
	[Id_Contrato_base] [float] NULL,
	[Pago] [float] NULL
) ON [PRIMARY]
GO
USE [master]
GO
USE [DetalleVtas]
GO
SELECT * FROM Calendario
SELECT * FROM Clientes
SELECT * FROM DetalleVtas

GO

USE [DetalleVtas]
GO

SELECT COUNT(*) FROM DetalleVtas
SELECT COUNT(*) FROM Calendario
SELECT COUNT(*) FROM Clientes
GO
